<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')%>
    <title><%= title %></title>
    <!-- =use for displaying the text -->
    <!-- - what we want to render -->
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="container mt-4">
        <h1>This is about Page</h1>
    </div>
    
</body>
</html>