<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')%>
</head>
<body>
   <%- include('../partials/nav.ejs')%>
   <div class="container mt-4">
      <h3>Our Produtc Page</h3>
   </div>
   <div id="root" class="container">
      <%- include('../partials/scriptfile.ejs')%>
   </div>
</body>
</html>